[submodule "controller"]
	path = controller
	url = git@github.com:nevalions/scoreboard-clock-controller.git
[submodule "play_clock"]
	path = play_clock
	url = git@github.com:nevalions/scoreboard-clock-led-display-esp-ws2815.git
[submodule "repeater"]
	path = repeater
	url = git@github.com:nevalions/scoreboard-clock-repeater-nRF24L01.git
[submodule "radio-common"]
	path = radio-common
	url = https://github.com/nevalions/scoreboard-clock-radio-common-nrf24.git
